.chart {
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: space-around;
  height: 10rem;
}

.chart-container {
  background-color: #1c1a23;
  border-radius: 10px;
  width: 92%;
  margin: 0 auto;
}

@media only screen and (max-width: 660px) {
  /* .chart-container {
    height: 75%;
  } */
}
