.card {
  background-color: #282633;
  box-shadow: 0px 20px 30px rgb(83 88 93 / 60%);
  border-radius: 0.5rem;
  width: 90vw;
  max-width: 1024px;
  min-height: 75vh;
  padding-bottom: 0.5rem;
}

@media only screen and (max-width: 660px) {
  .card {
    box-shadow: none;
  }
}
