/* Color 
#282633
#C848F3
#F7AC68
#6F59F9
#62CA97
#E55A31
*/

main {
  margin-top: 2rem;
}

h2 {
  margin: 0.5rem 0;
}

.heading {
  color: #282633;
}

.container-main {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
