/* Color 
#282633
#C848F3
#F7AC68
#6F59F9
#62CA97
#E55A31
*/
.heading {
  position: absolute;
  top: 8%;
  left: 10%;
  text-transform: uppercase;
  top: 8%;
  color: #282633;
}

@media only screen and (max-width: 550px) {
  .heading {
    position: absolute;
    top: 2%;
    left: 3%;
  }
}

@media only screen and (max-width: 768px) {
  .heading {
  }
}
