/* Color 
#282633
#C848F3
#F7AC68
#6F59F9
#62CA97
#E55A31
*/

main {
  position: relative;
  height: 100vh;
}

h2 {
  margin: 0.5rem 0;
}

.heading {
  color: #282633;
}

.container-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

@media only screen and (max-width: 990px) {
  .container-main {
    top: 52%;
  }
}

@media only screen and (max-width: 660px) {
  .container-main {
    top: 60%;
  }
}
